.cards {
  margin-top: 50px;
}

.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  margin: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cards {
    align-items: center;
  }
}
