.account {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.account__edit-column {
  max-width: 415px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  margin: auto 0 auto 30px;
}
.account__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.account__name {
  margin: 0;
  text-align: left;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.account__occupation {
  margin: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.account__image {
  max-width: 120px;
  height: auto;
  border-radius: 50%;
}
.account__edit-btn {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 18px;
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.account__edit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.account__edit-icon {
  width: 10px;
  height: 10px;
  margin: auto;
}

.account__add-btn {
  max-width: 150px;
  width: 100%;
  height: 50px;
  margin: auto 0 auto auto;
  background-color: #000;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}
.account__add-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .account {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 5px;
  }
  .account__edit {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .account__edit-column {
    margin: 0 auto;
  }
  .account__image {
    max-width: 120px;
    height: auto;
    margin: 0 auto 26px;
  }
  .account__add-btn {
    margin: 36px auto 0;
    min-width: 282px;
  }
  .account__occupation {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .account {
  }

  .account__edit-column {
    margin: 0 auto;
  }
  .account__edit {
    margin: 0 auto;
  }

  .account__name {
    font-size: 22px;
    line-height: 27px;
  }
  .account__occupation {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .account__edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 4px;
  }
  .account__edit-icon {
    width: 7.5px;
    height: 7.5px;
  }
}
