.card {
  list-style: none;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
  text-decoration: none;
  padding: 0;
}

.card__like-button {
  width: 21px;
  height: 19px;
  border: hidden;
    background:url(../images/like.svg) transparent ;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: #fff;
  flex-shrink: 0;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__image {
  width: 282px;
  height: 282px;
  display: block;
}
