.popup {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 19px;
}

.popup__content {
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0px 36px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  position: relative;
}

.popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin-top: 34px;
  margin-bottom: 54px;
  padding: 0;
}

.popup__close {
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -40px;
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-image: url(../images/Close\ Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.1s ease-out;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__input {
  display: block;
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px 0;
  padding-bottom: 13.5px;
}

.popup_save-button {
  display: block;
  margin-top: 48px;
  margin-bottom: 36.5px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 21.78px;
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}

.popup_save-button:hover {
  opacity: 0.8;
}

.popup__is_opened {
  display: flex;
}

@media screen and (max-width: 768px) {
  .popup {
    align-items: center;
  }

  .popup__close {
    margin-top: -13.62px;
    margin-right: 40px;
    width: 26px;
    height: 26px;
  }

  .popup__content {
    padding: 25px 22px;
  }

  .popup__title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 45px;
  }

  .popup__input {
    padding-bottom: 9px;
  }

  .popup_save-button {
    margin: 0;
    font-size: 14px;
  }
}
