.card {
	list-style: none;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	object-fit: cover;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.card__image {
	display: block;
	height: 282px;
	object-fit: cover;
	width: 100%;
	cursor: pointer;

}

.card__place-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 25px 15px 25px 21px;
	text-decoration: none;
	padding: 0;
}

.card__place-name {
	font-family: "Inter", sans-serif;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

.card__place-favorite {
	background-image: url(../images/heart.svg);
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 21px;
	height: 19px;
	transition: 0.2s;
	color: transparent;
	border: none;
}

.card__place-favorite:hover {
	opacity: 0.5;
	cursor: pointer;
}

.card__place-favorite_active {
	background-image: url(../images/heart-fill.svg);
}

.card__trash {
	position: absolute;
	top: 18px;
	right: 15px;
	opacity: 0;
	background: none;
	border: none;
	transition: 0.3s;
}

.card__trash:hover {
	cursor: pointer;
}

.card:hover .card__trash {
	opacity: 1;
}

.card__place-num {
	color: #000;
	margin: 0;
	text-align: center;
	font-size: 13px;
	line-height: 1.23;
}

@media screen and (max-width:778px) {
	.card__trash {
		opacity: 1;
	}
}