.header {
  display: flex;
  margin: auto;
  max-width: 880px;
  min-width: 300px;
  border-bottom-style: solid;
  border-bottom-color: rgb(84, 84, 84, 0.7);
  border-bottom-width: 1px;
}
.header__container {
  box-sizing: border-box;
}
.header__logo {
  width: 173px;
  height: 33px;
  margin: 45px 0 41px 0;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px 0 32px 27px;
  }
}
